@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3b0008a1;
    width:  600px;
    padding: 10px;
    margin: auto;
}
h1{
color: #9C0015;
text-align: center;
text-shadow: 2px 1px 2px #330107b4;
}
h2{
    color: #EB9401;
}
body{
    background-image:linear-gradient(to right,#EB9401,#E06100,#BD2600);
}
p{
    text-align: justify;
}