
@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(0, 0, 0, 0.829);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    
}
header{
    width: 90%;
    margin: auto;
    padding: 10px 5px 10px 5px;
    color: rgba(255, 255, 255, 0.774);
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.418);
}
nav{
    width: 90%;
    margin: auto;
    padding: 10px 5px 10px 5px;
    font-size: 1.5em;
    background-color: white;
    
}

main{
    
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 0px 0px 7px 7px;
    padding: 10px 5px 10px 5px;

    
    
}

main > h1{
    
    background-color: rgba(165, 42, 42, 0.418);
    border-radius: 7px 0px 7px 0px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 15px 10px 100px 10px;
    color: rgba(0, 0, 0, 0.822);


}
p{
    text-align: justify;
    text-indent: 15px;
    margin-left: 15px;
}
h2{
    margin: 10px;
    margin-left: 15px;
    background-color: rgba(165, 42, 42, 0.486);
    border-radius: 7px 0px 7px 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.74);
    width: 280px;
    height: 30px;
}
h3{
    margin: 10px;
    margin-left: 15px;
    background-color: rgba(165, 42, 42, 0.486);
    border-radius: 7px 0px 7px 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.74);
    width: 320px;
    height: 30px;
}