
main{
    background-color: rgba(0, 0, 0, 0.425);
}
body{
    background-color: rgba(231, 229, 229, 0.521);
    margin: 7px;
    text-justify: auto;
}
h1{
    background-color: rgba(165, 42, 42, 0.288);
    border-radius: 3px;
    
}